<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../bower_components/d2l-content-"
<dom-module id="d2l-sequences-content-scorm">
	<template>
		<style>

		</style>
		<iframe frameBorder="0" src$="[[_fileLocation]]"></iframe>
	</template>
	<script>
		/*
			@mixes SirenEntityMixin
        */
		class D2LSequencesContentScorm extends Polymer.Element {
			static get is() {
				return 'd2l-sequences-content-scorm';
			}
			static get properties() {
				return {

				}
			}
		}
		customElements.define(D2LSequencesContentScorm.is, D2LSequencesContentScorm);
	</script>
</dom-module>
