<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../d2l-polymer-siren-behaviors/store/entity-behavior.html">
<link rel="import" href="../../d2l-polymer-siren-behaviors/store/siren-action-behavior.html">
<link rel="import" href="../localize-behavior.html">
<link rel="import" href="../../d2l-link/d2l-link.html">
<link rel="import" href="../../d2l-colors/d2l-colors.html">

<dom-module id="d2l-sequences-content-eol-activity-link">
	<template>
		<style>
			:host {
				display: block;
			}

		</style>
		<div>
			<d2l-link on-click="_onClick">
				[[entity.properties.title]]
			</d2l-link>
		</div>
		</template>

	</template>
	<script>
		/*
			@extends D2L.PolymerBehaviors.Sequences.LocalizeBehavior
		*/
		class D2LSequencesContentEoLActivityLink extends Polymer.mixinBehaviors([
				D2L.PolymerBehaviors.Siren.EntityBehavior,
				D2L.PolymerBehaviors.Siren.SirenActionBehaviorImpl,
				D2L.PolymerBehaviors.Sequences.LocalizeBehavior
			],
			Polymer.Element
			) {
			static get is() {
				return 'd2l-sequences-content-eol-activity-link';
			}
			static get properties() {
				return {
					currentActivity: {
						type: String,
						value: '',
						notify: true
					},
					completionRequirement: {
						type: String,
						computed: '_getCompletionRequirement(entity)'
					}
				};
			}

			_onClick() {
				if (this.entity && this.entity.getLinkByRel('self').href) {
					this.href = this.entity.getLinkByRel('self').href;
				}
			}

			_getCompletionRequirement(entity) {
				if (!entity) {
					return;
				}
				var subEntity = entity.getSubEntityByClass('link-activity') || entity.getSubEntityByClass('file-activity');
				if (subEntity
					&& subEntity.getSubEntityByClass('exemption')
					&& subEntity.getSubEntityByClass('exemption').hasClass('exempted')) {
					return 'exempt';
				}
				if (subEntity && !subEntity.getSubEntityByClass('completion')) {
					return 'optional';
				}
				else return 'required';
			}
		}
		customElements.define(D2LSequencesContentEoLActivityLink.is, D2LSequencesContentEoLActivityLink);
	</script>
</dom-module>
